header
{
  width: auto;
  height:800px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: url('../img/me.jpg');
  background-size: 100%;
  padding: 30px 0px;
}

img
{
  width: 200px;
}
nav
{
  
  position: absolute;
 
}

#nav1
{
  position: fixed;
  background-color: rgba(153, 187, 255, 0.9);
  text-align: center;
  height:80px;
}

footer
{
  background-color: #8585ad;
}

.sec
{
  border-radius: 25px;
  background-color:rgba(255, 255, 255,.95); 
  
  padding:25px;
  position:relative; 
  
  z-index:3s;
  
  box-shadow: 20px 10px 15px rgba(0, 0, 0,.5);
  transition: background-color 1s;
}

.sec1
{
  border-radius: 25px;
  background-color:rgba(255, 255, 255,.95); 
  
  padding:25px;
  position:relative; 
  
  z-index:3s;
  box-shadow: 20px 10px 15px rgba(0, 0, 0,.5);

}

#work
{
  margin:10px;
}
.empty
{
  width: 300px;
  height: 125px;

}

#text
{
  text-align: center;
 position:absolute;
 index-z: 1;
 top: 240px;
}

.box
{
  margin: 30px;
  z-index:3s;
  position:relative; 
  padding:25px;
  border-radius: 25px;
  background-color:rgba(255, 255, 255,.95); 
  box-shadow: 20px 10px 15px rgba(0, 0, 0,.5);
}
.clouds
{
 width: 100%;
 height:200px;
 position:absolute;
 background:transparent url(../img/front_cloud.png) 0 0 no-repeat;
}

.alien
{
 width: 50%;
 height:200px;
 position:absolute;
 background:transparent url(../img/ship.png) no-repeat;

 index-z: 1;
 top: 240px;
  /* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */

  -webkit-animation: drift 20s linear infinite;
}

.satelite
{
   width: 100%;
   height:800px;
   position:absolute;
   background:transparent url(../img/satellite.png) 0 0 no-repeat;

   index-z: 1;
   top: 1100px;
    /* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */

     /*-webkit-animation: drift 30s linear infinite;*/
}

.fcloud1
{
  index-z: 1;
  top:3200px;
  /* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */

  /*-webkit-animation: drift 20s linear infinite;*/
}

.fcloud2
{
  index-z: 2;
  top:2760px;
 
  /* animation syntax shorthand order: name duration timing-function delay iteration-count direction fill-mode */

   /*-webkit-animation: drift 25s linear 2s infinite backwards;*/
}

body
{
  background: url(../img/stars3.png);
}
/*
.sec:hover, .sec1:hover
{
  background-color: rgba(64, 64, 64, 0.8);
  color: white;
}
*/
  /*
  @-webkit-keyframes drift
  {
    from{-webkit-transform:translateX(-255px);}
    to{-webkit-transform:translate(1800px);}
  }
  */
.one.animate, .two.animate2, .three.animate3, .four.animate4, .five.animate5
{
  position: relative;
  left: 10;
  -webkit-transform: translate(10em,0); 
}

.animate 
{
  -webkit-animation: fadeIn 1s ease-in-out; 
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
}

.animate2 
{
  -webkit-animation: fadeIn 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition-delay: 0.25s;
}

.animate3 
{
  -webkit-animation: fadeIn 1s ease-in-out; 
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition-delay: 0.40s;
}

.animate4 
{
  -webkit-animation: fadeIn 1s ease-in-out;  
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition-delay: 0.55s;
}

.animate5 
{
  -webkit-animation: fadeIn 1s ease-in-out;  
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  transition-delay: 0.70s;
}

.sk > img
{
  width: 5%;
  margin:5px;
}

.skimg > img
{
  width: 35%;
  margin:5px;
}
.hbar
{
  width: 60px;
  height: 60px;
  background-color: rgb(255, 92, 51);
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
}

.cbar
{
  width: 60px;
  height: 60px;
  background-color: rgb(0, 136, 204);
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
}

.pbar
{
  width: 60px;
  height: 60px;
  background-color: rgb(26, 117, 255);
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
}

.ibar
{
  width: 60px;
  height: 60px;
  background-color: rgb(255, 133, 51);
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
}
 .ubar
{
  width: 60px;
  height: 60px;
  background-color: white;
  display:inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  border: solid black;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0,.5);
}

li
{
  list-style: none;
}

.test1
{
  display:inline-block;
}

.size
{
  -webkit-animation: grow 1s 0.90s ease-in-out;  
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  
}

@-webkit-keyframes fadeIn
{
  from
  {
    opacity: 0;
    
  }

  to
  {
    opacity: 1;

  }
}
@-webkit-keyframes grow
{
  0%
  {
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Safari */
    transform: scale(0.5,0.5);
    opacity: 0;
    
  }

  50%
  {
    -ms-transform: scale(1.25,1.25); /* IE 9 */
    -webkit-transform: scale(1.25,1.25); /* Safari */
    transform: scale(1.25,1.25);
    opacity: 1;

  }

  100%
  {
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
    
  }

  
}


   